<% content_for :title, "New Post" %>

<main class="container">
  <div class="breadcrumb">
    <%= link_to "Communities", communities_path %>
    <span class="breadcrumb-sep">/</span>
    <%= link_to @thread.community.name, @thread.community %>
    <span class="breadcrumb-sep">/</span>
    <%= link_to @thread.title, thread_path(@thread) %>
    <span class="breadcrumb-sep">/</span>
    <span>New Post</span>
  </div>

  <section aria-labelledby="new-post-title">
    <h1 id="new-post-title">New Post</h1>

    <%= render "form", post: @post, thread: @thread %>
  </section>
</main>
